body {
    background-color: #000;
    text-align: center;
}

h1 {
    color: #555555;
    text-align: center;
}

.search_container {
    position:absolute;/*フォームの絶対位置*/	
    left:0;
    top:0; 	
    outline:0;/*クリック時の青い枠線消す*/	
    height:50px;/*検索ボックスの高さ*/		 		
    background:#eee;/*検索ボックスの背景カラー*/	
}
.search_container input[type="text"]{
    border: none;
    height: 50px;
}
.search_container input[type="text"]:focus {
    outline: 0;
}
.search_container input[type="submit"]{
    width:70px;/*検索ボタンの横幅*/ 
    height:53px;/*検索ボタンの縦幅*/ 
    position:absolute;/*検索ボタンの絶対位置*/  
    left:250px;/*検索ボタンの位置調整*/  
    top:0;
    background:#7fbfff;/*検索ボタンの背景カラー*/ 
    border:none;/*検索ボタンの枠線を消す*/ 
    color:#fff;/*検索ボタンのテキストカラー*/ 
    font-weight:bold;/*検索ボタンのテキスト太字*/ 
    font-size:16px;/*検索ボタンのフォントサイズ*/ 
}

.housoku {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;/*横方向中央揃え*/
    -webkit-align-items: center;
    align-items: center;/*縦方向中央揃え*/
}
/*-------------------------------------------------------*/
.badge {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  margin: -2em auto -1em;
}

.post-header {
  background: #22BDA0;
  position: absolute;
  top: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
}

.post-header .hero-image {
  position: absolute;
  bottom: -20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 56.25em;
}

.hero-image-container {
  -webkit-animation: hero-fade-in 1s 0.5s linear forwards;
          animation: hero-fade-in 1s 0.5s linear forwards;
  opacity: 0;
  overflow: hidden;
  position: relative;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 56.25em;
  height: 26em;
}

@-webkit-keyframes hero-fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes hero-fade-in {
  100% {
    opacity: 1;
  }
}

.window-background {
  -webkit-animation: background-color 5s cubic-bezier(0.81, -0.46, 0.19, 1.33) infinite;
          animation: background-color 5s cubic-bezier(0.81, -0.46, 0.19, 1.33) infinite;
  position: absolute;
  height: 40em;
  width: 30em;
  top: 0;
}

.screen-container {
  -webkit-animation: move-emails 5s infinite ease-out;
          animation: move-emails 5s infinite ease-out;
  position: absolute;
  width: 7.6em;
  height: 6em;
  bottom: 8.66em;
  background: #fff url(//cssanimation.rocks/images/courses/animation_101/emails.svg) repeat-y;
  background-size: 100% auto;
  left: 50%;
  -webkit-transform: translate(-16.4%, -10%);
          transform: translate(-16.4%, -10%);
}

.notification {
  -webkit-animation: move-notification 5s infinite cubic-bezier(0.81, -0.46, 0.19, 1.33);
          animation: move-notification 5s infinite cubic-bezier(0.81, -0.46, 0.19, 1.33);
  position: absolute;
  bottom: 62%;
  left: 65%;
  width: 4%;
  height: 3%;
  background: #fff url(//cssanimation.rocks/images/courses/animation_101/notification.svg);
  background-size: 100%;
}

.moon {
  -webkit-animation: moon 5s infinite linear;
          animation: moon 5s infinite linear;
  position: absolute;
  left: 25%;
  top: 3%;
  background: url(//cssanimation.rocks/images/courses/animation_101/moon.svg) no-repeat;
  background-size: 100%;
  height: 25%;
  width: 8%;
  -webkit-transform-origin: 30% 350%;
          transform-origin: 30% 350%;
}

@-webkit-keyframes background-color {
  0% {
    background: #011;
  }
  20%, 30% {
    background: #5ab6fc;
  }
  100% {
    background: #011;
  }
}

@keyframes background-color {
  0% {
    background: #011;
  }
  20%, 30% {
    background: #5ab6fc;
  }
  100% {
    background: #011;
  }
}

@-webkit-keyframes move-emails {
  0%, 24% {
    background-position: 0 -4.6em;
    -webkit-animation-timing-function: cubic-bezier(0.81, -0.46, 0.19, 1.33);
            animation-timing-function: cubic-bezier(0.81, -0.46, 0.19, 1.33);
  }
  34%, 60% {
    background-position: 0 0;
  }
  90%, 100% {
    background-position: 0 -78%;
  }
}

@keyframes move-emails {
  0%, 24% {
    background-position: 0 -4.6em;
    -webkit-animation-timing-function: cubic-bezier(0.81, -0.46, 0.19, 1.33);
            animation-timing-function: cubic-bezier(0.81, -0.46, 0.19, 1.33);
  }
  34%, 60% {
    background-position: 0 0;
  }
  90%, 100% {
    background-position: 0 -78%;
  }
}

@-webkit-keyframes move-notification {
  0%, 20% {
    -webkit-transform: translateX(0.25em);
            transform: translateX(0.25em);
    opacity: 0;
  }
  50%, 58% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
  70%, 100% {
    -webkit-transform: translateX(-0.25em);
            transform: translateX(-0.25em);
    opacity: 0;
  }
}

@keyframes move-notification {
  0%, 20% {
    -webkit-transform: translateX(0.25em);
            transform: translateX(0.25em);
    opacity: 0;
  }
  50%, 58% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
  70%, 100% {
    -webkit-transform: translateX(-0.25em);
            transform: translateX(-0.25em);
    opacity: 0;
  }
}

@-webkit-keyframes moon {
  0% {
    -webkit-transform: none;
            transform: none;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0, 0.41, 1);
            animation-timing-function: cubic-bezier(0.25, 0, 0.41, 1);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}

@keyframes moon {
  0% {
    -webkit-transform: none;
            transform: none;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0, 0.41, 1);
            animation-timing-function: cubic-bezier(0.25, 0, 0.41, 1);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}

@media (max-width: 550px) {
  .demo-container.clocks.single .clock, .badge {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .demo-container.clocks.single .clock, .badge {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */
