<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>KU速記法則Search</title>
	<link rel="stylesheet" media="all" href="static/css/style.css?2020022047"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script>
	$(function(){
	
		var
	  	  winW = $(window).width(),
		    winH = $(window).height(),
		    nav = $('#mainnav ul a'),
		    curPos = $(this).scrollTop();
	
	        if (winW > 880){
		    var headerH =20;
	        }
	        else{
		    var headerH =60;
	        }
	
		$(nav).on('click', function(){
		    nav.removeClass('active');
  		var $el = $(this),
		    id = $el.attr('href');
 		    $('html, body').animate({
   		    scrollTop: $(id).offset().top - headerH
 		    }, 500);
		    $(this).addClass('active');
		    if (winW < 880){
			$('#menuWrap').next().slideToggle();
			$('#menuBtn').removeClass('close');
		    }
 		    return false;
	        });
	
	        $('.panel').hide();
		$('#menuWrap').toggle(function(){
		    $(this).next().slideToggle();
		    $('#menuBtn').toggleClass('close');
		},
		function(){
		    $(this).next().slideToggle();
		    $('#menuBtn').removeClass('close');
		});
	});
	</script>
</head>

<body id="top">
	<div id="wrapper">
		<div id="sidebar">
			<div id="sidebarWrap">
				<nav id="mainnav">
					<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
					<div class="panel">
						<ul>
							<li><a href="#sec01">はじめに</a></li>
							<li><a href="#sec02">速記とは</a></li>
							<li><a href="/housoku.html">速記文字一覧</a></li>
							<li><a href="/search.html">法則検索</a></li>
							<li><a href="#sec03">法則索引</a></li>
							<li><a href="https://twitter.com/kandaisokkibu" target="_blank"><img src="static/images/twitter.png" width="20" height="20" alt="twitter"></a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>

		<div id="content">
			<div class="text">
				<img src="/static/images/main.jpg" alt="">
			</div>
			<!-- MESSAGE -->
			<section id="sec01">
				<header>
					<h2><span>はじめに</span></h2>
				</header>
				<div class="innerS">
					これは関西大学速記部で使われている速記法則を検索することができるサイトです。どなたでもお好きに使用してくださって構いません。
				</div>
			</section>
			<section id="sec02">
				<header>
					<h2><span>速記とは</span></h2>
				</header>
				<div class="innerS2">
					速記とは線や曲線でできた速記文字を用いて、人が話す言葉を正確に書き取る技術のことを言います。詳しい内容については下記のリンクから関西大学速記部のホームページへ行けるので、気になった方は是非ご覧ください。
				</div>
			</section>
			<section id="sec03">
				<header>
					<h2><span>法則索引(準備中)</span></h2>
				</header>
				<div class="innerS3">
					<ul>
						<li><a href="/housoku.html">あ行</a></li>
						<li><a>か行</a></li>
						<li><a>さ行</a></li>
						<li><a>た行</a></li>
						<li><a>な行</a></li>
						<li><a>は行</a></li>
						<li><a>ま行</a></li>
						<li><a>や行</a></li>
						<li><a>ら行</a></li>
						<li><a>わ行</a></li>
					</ul>
				</div>
			</section>
			<section id="sec04">
				<header>
					<h2><span>リンク</span></h2>
				</header>
				<div class="innerS4">
					<a href="https://gochian.github.io/K_U_sokki/">関西大学文化会速記部ホームページ</a>
				</div>
			</section>

			<footer id="footer">
				Copyright(c) 2016 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank">http://f-tpl.com</a><!-- ←クレジット表記を外す場合はシリアルキーが必要です http://f-tpl.com/credit/ -->
			</footer>

		</div>
	</div>

</body>
</html>
