<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>KU速記法則検索サイト</title>
    <link rel="stylesheet" href="/static/css/style2.css?20210816012"/>
</head>
<body>
<h1>{{ title }}</h1>
    
<form method="POST" action="/" class="search_container">
    <input type="text" name="housoku" size=38 placeholder="例:私、あなた" >
    <input type="submit" value="検索">
</form>
<a href="/index.html">TOPへ</a>

<div class="housoku">
    {% if housoku %}
    <img src="/static/images/{{ housoku }}.png?2021012406" border="4px" alt="速記{{ housoku }}">
    {% else %}
    <img src="/static/images/question.png" alt="はてな">
    {% endif %}
</div>

</body>
</html>
