<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>KU速記法則検索サイト</title>
    <link rel="stylesheet" href="/static/css/style2.css?202002185"/>
</head>
<body>
<h1>{{ title }}</h1>

<form method="POST" action="/" class="search_container">
    <input type="text" name="housoku" size=40 placeholder="キーワード検索" >
    <input type="submit" value="検索">
</form>
<a href="/index.html">TOPへ</a>
    
<div>
    <div class="housoku">
    {% if housoku %}
    <img src="/static/images/{{ housoku }}.png?2021012403" alt="速記{{ housoku }}">
    {% else %}
    <img src="/static/images/question.png" alt="はてな">
    {% endif %}
    </div>
</div>

<footer>Copyright 2021 関西大学速記部</footer>
</body>
</html>
